In [15]:
import numpy as np
import pandas as pd    

now_df = pd.read_table('inequality.txt' ,header=0, encoding='gb2312', sep=',')

In [14]:
now_df

,id,text,month,year
0,14652434,Most of the debate has focused on the housing...,10,16
1,14660987,The combined revenues of the largest 10 corpo...,10,16
2,14678637,Crystal Legacy receives funding from the Aust...,10,16
3,14698663,World leaders need to ramp up investment to a...,10,16
4,14707705,"Greenwhich Village , NY , mid 1960s . This is...",10,16
...,...,...,...,...
103361,61188462,RW Johnson 10 June 2019 RW Johnson on ten...,8,19
103362,61188469,SAFTU 26 August 2019 Federation says such...,8,19
103363,61189504,Note : Search is limited to the most recent 2...,8,19
103364,61189506,Note : Search is limited to the most recent 2...,8,19
103365,61189508,Note : Search is limited to the most recent 2...,8,19

In [54]:
np.random.seed(2)

In [56]:
d = dict(now_df['year'].value_counts())
d

{17: 26096,
 18: 24852,
 19: 22003,
 16: 13824,
 15: 4866,
 14: 4008,
 13: 2908,
 12: 2305,
 11: 1599,
 10: 905}

In [57]:
list(dict(sorted(d.items(), key=lambda item:item[0])).values())

[905, 1599, 2305, 2908, 4008, 4866, 13824, 26096, 24852, 22003]

In [64]:
sample_fra = 0.3    
num_tup = np.array(list(dict(sorted(d.items(), key=lambda item:item[0])).values()))   
num_sample_tup = np.array([(int)(round(i*sample_fra)) for i in num_tup])   # round函数对数进行四舍五入处理
print(num_sample_tup)

[ 272  480  692  872 1202 1460 4147 7829 7456 6601]

In [65]:
# 定义分层抽样的字典，格式为：组名：数据个数
typicalNDict_train = {10: num_train_tup[0], 11: num_train_tup[1], 12: num_train_tup[2], 13: num_train_tup[3],
                      14: num_train_tup[4], 15: num_train_tup[5], 16: num_train_tup[6], 17: num_train_tup[7],
                      18: num_train_tup[8], 19: num_train_tup[9]}

In [66]:
def typicalsamling(group, typicalNDict):
    name = group.name
    n = typicalNDict[name]
    return group.sample(n=n)

In [67]:
result_sample = now_df.groupby('year').apply(typicalsamling, typicalNDict_train)
print(result_sample.head())
result_sample.to_csv('data/sample.txt', index=False)

                 id                                               text  month  \
year
10   40235  1638583   Lessons on racism , racial prejudice and disc...      9
     39933  1536821   If you 've been dead from the neck up this pa...      6
     40065  1556506   14 July 2010 ? The United Nations Development...      7
     40269  1688092   It 's not like I believe there were ever any ...     10
     39800  1444061   A team of boffins from the University of Chic...      4

            year
year
10   40235    10
     39933    10
     40065    10
     40269    10
     39800    10

In [70]:
print(result_sample['year'].value_counts())

17    7829
18    7456
19    6601
16    4147
15    1460
14    1202
13     872
12     692
11     480
10     272
Name: year, dtype: int64

In [69]:
d

{17: 26096,
 18: 24852,
 19: 22003,
 16: 13824,
 15: 4866,
 14: 4008,
 13: 2908,
 12: 2305,
 11: 1599,
 10: 905}