In [71]:
import numpy as np
import pandas as pd    

now_df = pd.read_table('data/inequality.txt' ,header=0, encoding='gb2312', sep=',')

In [72]:
now_df

,id,text,month,year
0,14652434,Most of the debate has focused on the housing...,10,16
1,14660987,The combined revenues of the largest 10 corpo...,10,16
2,14678637,Crystal Legacy receives funding from the Aust...,10,16
3,14698663,World leaders need to ramp up investment to a...,10,16
4,14707705,"Greenwhich Village , NY , mid 1960s . This is...",10,16
...,...,...,...,...
64892,14606901,"Beneficiaries include bankers , a former poli...",9,16
64893,14607757,Let 's be clear right from the start : everyo...,9,16
64894,14609499,File : The calls for large-scale change acros...,9,16
64895,14612653,Despite its many achievements in more than tw...,9,16
64896,14623232,George Municipality won four awards in the th...,9,16

In [73]:
np.random.seed(2)

In [74]:
d = dict(now_df['year'].value_counts())
d

{17: 13048,
 18: 12427,
 16: 11831,
 19: 11000,
 15: 4866,
 14: 4008,
 13: 2908,
 12: 2305,
 11: 1599,
 10: 905}

In [75]:
list(dict(sorted(d.items(), key=lambda item:item[0])).values())

[905, 1599, 2305, 2908, 4008, 4866, 11831, 13048, 12427, 11000]

In [76]:
sample_fra = 0.7    
num_tup = np.array(list(dict(sorted(d.items(), key=lambda item:item[0])).values()))   
num_sample_tup = np.array([(int)(round(i*sample_fra)) for i in num_tup])   # round函数对数进行四舍五入处理
print(num_sample_tup)

[ 634 1119 1614 2036 2806 3406 8282 9134 8699 7700]

In [77]:
# 定义分层抽样的字典，格式为：组名：数据个数
typicalNDict_train = {10: num_train_tup[0], 11: num_train_tup[1], 12: num_train_tup[2], 13: num_train_tup[3],
                      14: num_train_tup[4], 15: num_train_tup[5], 16: num_train_tup[6], 17: num_train_tup[7],
                      18: num_train_tup[8], 19: num_train_tup[9]}

In [78]:
def typicalsamling(group, typicalNDict):
    name = group.name
    n = typicalNDict[name]
    return group.sample(n=n)

In [79]:
result_sample = now_df.groupby('year').apply(typicalsamling, typicalNDict_train)
print(result_sample.head())
result_sample.to_csv('data/sample.txt', index=False)

                 id                                               text  month  \
year
10   40035  1577559   When Gruff Rhys strikes out alone , the resul...      7
     40320  1664137   Forty years after the United States began its...     10
     39625  1337494   During the late 19th century , a handful of R...      1
     39771  1415861   SANTIAGO , Chile -- Jacquelin Marin has no ru...      3
     40043  1546700   A new study has revealed that many generation...      7

            year
year
10   40035    10
     40320    10
     39625    10
     39771    10
     40043    10

In [80]:
print(result_sample['year'].value_counts())

17    7829
18    7456
19    6601
16    4147
15    1460
14    1202
13     872
12     692
11     480
10     272
Name: year, dtype: int64

In [81]:
d

{17: 13048,
 18: 12427,
 16: 11831,
 19: 11000,
 15: 4866,
 14: 4008,
 13: 2908,
 12: 2305,
 11: 1599,
 10: 905}